#center-all {
  text-align: center;
  display: flex;
  align-items: center;
}

.inside {
  margin: auto;
}

h1 {
  font-weight: 500;
  text-align: left;
  margin-top: 50px;
}

.formfield {
  width: 478px;
  text-align: center; 
  margin: 0 auto; /* Center the form horizontally */
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.formfield-width {
  width: 100%;
}

.replacements-add-remove-button {
  text-align: left;
}

.replacement-label {
  margin-right: 10px;
}

.add-button {
  margin-right: 20px;
}

.tag-row {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  margin-top: 10px;
  color: #5c5c5c;
}

.tag-replacement {
  display: flex;
  margin-right: 196px;
}

.input-container {
  display: flex;
  gap: 10px; /* gap between input fields */
  width: 100%; 
}

.replace-button {
  margin-top: 70px;
  margin-bottom: 20px;
}


::ng-deep .mdc-text-field--disabled .mdc-text-field__input {
  color: black !important;
}
